# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.spec

# 虚拟环境
venv/
env/
.venv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# 操作系统
Thumbs.db
Desktop.ini
.DS_Store

# 临时文件
*.tmp
*.log
*.bak
